[package]
name        = "hkd32"
description = """
HMAC-based Hierarchical Key Derivation: deterministically derive
a hierarchy of symmetric keys from initial keying material through
repeated applications of the Hash-based Message Authentication Code
(HMAC) construction. Optionally supports storing root derivation
passwords as a 24-word mnemonic phrase (i.e. BIP39).
"""
version     = "0.3.1" # Also update html_root_url in lib.rs when bumping this
authors     = ["Tony Arcieri <tony@iqlusion.io>"]
license     = "Apache-2.0"
edition     = "2018"
homepage    = "https://github.com/iqlusioninc/crates/"
repository  = "https://github.com/iqlusioninc/crates/tree/develop/hkd32"
readme      = "README.md"
categories  = ["cryptography", "no-std"]
keywords    = ["crypto", "bip32", "bip39", "derivation", "mnemonic"]

[badges]
maintenance = { status = "passively-maintained" }

[dependencies]
getrandom = { version = "0.1", optional = true }
hmac = { version = "0.8", default-features = false }
lazy_static = { version = "1", optional = true, default-features = false }
sha2 = { version = "0.8", default-features = false }
pbkdf2 = { version = "0.3", optional = true, default-features = false }

[dependencies.subtle-encoding]
version = "0.5"
optional = true
path = "../subtle-encoding"

[dependencies.zeroize]
version = "1"
default-features = false
features = ["zeroize_derive"]
path = "../zeroize"

[features]
default = ["alloc", "bech32", "getrandom"]
alloc = ["zeroize/alloc"]
bech32 = ["alloc", "subtle-encoding/bech32-preview"]
mnemonic = ["alloc", "getrandom", "lazy_static"]
bip39 = ["mnemonic", "pbkdf2"]

[package.metadata.docs.rs]
all-features = true
